* {
  font-family: Poppins, sans-serif;
}

body {
  background: rgb(201, 201, 201);
}

.new {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.title {
  color:#000000;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
}

.desc {
  color:#474747;
  font-weight: lighter;
}

.author {
  color:#5f5f5f
}
